.navbar-brand {
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-item ::deep a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.nav-item ::deep a.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
